.videocontainer {
  margin-top: 40px;
  position: relative;
  width: 30vw;
  height: 32vw;
  margin-inline: auto;
  position: relative;
}
.video {
  width: 30vw;
  height: 32vw;
  object-fit: fill;
  border-radius: 8px;
}
.frame {
  width: 15vw;
  height: 40vh;
  border: 2px solid gray;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.videocontainer h3 {
  width: 80%;
  padding: 20px;
  margin-inline: auto;
  text-transform: capitalize;
  text-align: center;
  background-color: gray;
  color: white;
  border-radius: 7px;
  border: 1px solid black;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1092px) {
  .frame {
    width: 15vw;
    height: 20vw;
  }
}
@media (max-width: 792px) {
  .videocontainer {
    width: 50vw;
    height: 60vw;
  }
  .video {
    width: 50vw;
    height: 55vw;
  }
  .frame {
    width: 20vw;
    height: 30vw;
  }
}
@media (max-width: 792px) {
  .videocontainer {
    width: 55vw;
    height: 55vw;
  }
  .video {
    width: 55vw;
    height: 53vw;
  }
  .frame {
    width: 25vw;
    height: 30vw;
  }
}
@media (max-width: 592px) {
  .videocontainer {
    width: 100vw;
    height: 70vh;
    margin-top: 0px;
  }
  .video {
    width: 100vw;
    height: 65vh;
  }
  .frame {
    width: 60vw;
    height: 70vw;
  }
  .videocontainer h3 {
    font-size: 20px;
  }
}
